<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="./assets/css/libs.min.css">
  <link rel="stylesheet" href="./assets/css/all.css">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <link rel="stylesheet" href="./assets/css/app.css">

</head>
<body class="font-helvetica">
  <div class="s-page overflow-hidden">
  <header class="s-header bg-header-purple py-4">
      <div class="container mx-auto">
        <div class="flex justify-between items-center relative">
          <div class="flex justify-start items-center">
            <div class="s-header-toggle w-5  block lg:hidden text-3xl md:mr-6 mr-4 cursor-pointer">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times hidden"></i>
          </div>
            <div class="s-header-logo mr-6">
              <a href="/">
               <img class="mx-auto w-auto" src="./assets/images/logo.jpg" alt="Kindergo Driveclub">
             </a>
           </div>
           <ul class="s-header-list list-none m-0 border border-main-gray-light flex justify-start rounded-lg bg-white items-stretch hidden lg:flex">
            <li class="lg:border-r border-main-gray-light lg:rounded-l-lg"><a href="#" class="px-5 py-3.5 block lg:rounded-l-lg hover:bg-header-blue transition duration-500 ease-in-out">Поездки</a></li>
            <li class="lg:border-r border-main-gray-light active"><a href="#" class="px-5 py-3.5 block hover:bg-header-blue transition duration-500  ease-in-out">Расписания</a></li>
            <li class="lg:border-r border-main-gray-light"><a href="#" class="px-5 py-3.5 block hover:bg-header-blue transition duration-500 ease-in-out">Платежи</a></li>
            <li class="lg:border-r border-main-gray-light"><a href="#" class="px-5 py-3.5 block hover:bg-header-blue transition duration-500 ease-in-out">Дети</a></li>
            <li class="rounded-r-lg"><a href="#" class="px-5 py-3.5 block rounded-r-lg hover:bg-header-blue transition duration-500 ease-in-out">Сопровождающие</a></li>
          </ul>
        </div>
        <div class="flex">
          <div class="s-header-user relative " id="usernav">
            <a href="#"><img src="./assets/images/avatar.png" alt="img" class="block sm:w-user w-12 max-w-10" width="60"></a>
            <div class="s-header-user-nav absolute right-0 top-16 bg-header-purple border-main-gray-light border text-main-gray-light w-40 divide-y divide-main-gray-light opacity-0 invisible transition duration-500 ease-in-out" >
              <ul>
                <li>
                  <a href="#" class="block px-2 py-0.5 hover:bg-white transition duration-500 ease-in-out">Личный профиль</a>
                </li>
                <li><a href="#popup" class="block px-2 py-0.5 open-popup hover:bg-white transition duration-500 ease-in-out" data-effect="mfp-zoom-in">Изменить пароль</a></li>
                <li><a href="#" class="block px-2 py-0.5 hover:bg-white transition duration-500 ease-in-out">Выйти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<div class="s-about py-8 pb-16">
  <div class="container mx-auto">
    <div class="border-b border-black pt-4">
      <h2 class="text-black text-2xl">Информация о расписании</h2>
      </div>
      <ul class="s-about-info text-black pt-8 flex flex-wrap">
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Откуда</div>
          <div class="w-3/6">ул. Рябиновая, 45</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Куда</div>
          <div class="w-3/6">ул Свободы, 55</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Количество поездок</div>
          <div class="w-3/6">23</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Количество детей</div>
          <div class="w-3/6">2</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Статус</div>
          <div class="w-3/6">В ожидании</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Время отправления</div>
          <div class="w-3/6">8:30</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Оплачен ли счет</div>
          <div class="w-3/6">Да</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">Возраст детей</div>
          <div class="w-3/6">9 лет, 8 лет</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">
            Ребенок 1
          </div>
          <div class="w-3/6"><a href="#" class="text-breadcrumb-blue border-b border-transparent hover:border-breadcrumb-blue transition duration-500 ease-in-out">Иван Митрохин</a></div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">
            Ребенок 3
          </div>
          <div class="w-3/6"></div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">
            Ребенок 2
          </div>
          <div class="w-3/6"><a href="#" class="text-breadcrumb-blue border-b border-transparent hover:border-breadcrumb-blue transition duration-500 ease-in-out">Ксения Митрохина</a></div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full">
          <div class="font-bold w-3/6">
            Ребенок 4
          </div>
          <div class="w-3/6"></div>
        </li>
        <li class="block md:flex mb-6 md:w-3/4 w-full">
          <div class="font-bold w-2/6">
            Даты отправления
          </div>
          <div class="w-4/6">
            <textarea name="dates" cols="30" rows="10" class="block w-full border-0 outline-none h-28">04.08.2021, 05.08.2021, 06.08.2021, 07.08.2021, 08.08.2021, 09.08.2021, 10.08.2021, 11.08.2021, 12.08.2021, 13.08.2021, 14.08.2021, 15.08.2021, 16.08.2021, 17.08.2021, 18.08.2021, 19.08.2021, 20.08.2021, 21.08.2021</textarea>
          </div>
        </li>
        <li class="block md:flex mb-6 md:w-3/4 w-full">
          <div class="font-bold w-2/6">
            Описание
          </div>
          <div class="w-4/6">
            <textarea name="info" cols="30" rows="10" class="block w-full border-0 outline-none h-28">подъезд 3, кв 135. код домофона 1275, детей проводит бабушка Галина. В месте прибытия детей передать воспитательнице Ольге Васильевне, которая будет ждать у главного входа</textarea>
          </div>
        </li>
        <li class="block md:flex mb-6 md:w-3/4 w-full">
          <div class="font-bold w-2/6">
            Информация о парковке
          </div>
          <div class="w-4/6">
            <textarea name="info1" cols="30" rows="10" class="block w-full border-0 outline-none h-28">Для въезда во двор, припарковаться у шлагбаума и позвонить по тел. 89274657344. Назвать номер квартиры и ФИО клиента Евгения Никодимова</textarea>
          </div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full hidden">
          <div class="font-bold w-3/6">Длительность маршрута (мин)</div>
          <div class="w-3/6">27</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full hidden">
          <div class="font-bold w-3/6"><div class="max-w-10">Дистанция маршрута (км)</div></div>
          <div class="w-3/6">12.4</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full hidden">
          <div class="font-bold w-3/6"><div class="max-w-10">Запланированное ожидание в точке “Откуда” (мин)</div></div>
          <div class="w-3/6">5</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full hidden">
          <div class="font-bold w-3/6"><div class="max-w-10">Запланированное ожидание в точке “Куда” (мин)</div></div>
          <div class="w-3/6">5</div>
        </li>
        <li class="block md:flex mb-6 md:w-1/2 w-full hidden">
          <div class="font-bold w-3/6"><div class="max-w-10">Количество страховок</div></div>
          <div class="w-3/6">15</div>
        </li>
      </ul>
      <div class="mt-6">
            <a href="#" class="s-about-btn js-btn-more group relative inline-flex justify-center  px-4 py-3 border border-transparent text-sm font-medium rounded-md text-white bg-btn-bg font-bold transition duration-500 ease-in-out hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-blue-400 text-sm border border-btn-border">
              Показать все поля
          </a>
      </div>
      
    </div>
  </div>
</div>
<div class="s-popup  mfp-with-anim mfp-hide max-w-2xl mx-auto bg-white px-8 py-12 relative" id="popup">
  <div class="s-popup-inner">
    <button class="mfp-close" title="Close (Esc)" type="button"><i class="fas fa-times"></i></button>
    <div class="border-b border-black">
      <h2 class="text-black text-2xl">Изменение пароля</h2>
    </div>
    <form action="main.php">
      <ul class="s-about-info text-black max-w-2xl pt-8">
        <li class="flex mb-6">
          <div class="font-bold w-2/5 md:w-3/6">Текущий пароль</div>
          <div class="w-3/5 md:w-3/6">
            <div class="input">
              <input type="password" name="passwcur" class="block border border-nav-blue rounded shadow-md1 outline-none text-main-gray-light px-4 h-8" value="ул. Рябиновая, 45">
            </div>
          </div>
        </li>
        <li class="flex mb-6">
          <div class="font-bold w-2/5 md:w-3/6">Новый пароль</div>
          <div class="w-3/5 md:w-3/6">
            <div class="input">
              <input type="password" name="passwnew" class="block border border-nav-blue rounded shadow-md1 outline-none text-main-gray-light px-4 h-8" >
            </div>
          </div>
        </li>
        <li class="flex">
          <div class="font-bold w-2/5 md:w-3/6">Повторите новый пароль</div>
          <div class="w-3/5 md:w-3/6">
            <div class="input">
              <input type="password" name="passwrep" class="block border border-nav-blue rounded shadow-md1 outline-none text-main-gray-light px-4 h-8" >
            </div>
          </div>
        </li>
      </ul>
      <div class="s-popup-buttons flex pt-8 justify-between max-w-sm mx-auto">
        <div>
          <button type="submit" class="group text-lg relative flex justify-center  px-4 border border-transparent text-sm font-medium rounded-md text-white bg-main-blue-medium font-bold transition duration-500 ease-in-out hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-blue-400  h-8">
       Сохранить
      </button>
        </div>
        <div>
          <button type="submit" class="group text-lg relative flex justify-center  px-4 border border-transparent text-sm font-medium rounded-md bg-white border border-main-gray-light font-bold text-main-gray transition duration-500 ease-in-out hover:bg-main-gray-light hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-main-gray-light h-8 focus:text-white">
      Отмена
      </button>
        </div>
      </div>
      
    </form>

  </div>

</div>
  <script src="./assets/js/libs.min.js"></script>
  <script src="./assets/js/app.js"></script>
</body>
</html>
